
.img-div{
    content: url('../../../assets/img/500-servererror.gif');
    width:32%;
}
.position{
    margin-left: auto;
    margin-right: auto;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-val{
    font-size: 20px;
    text-align: center;
}
@media only screen and (max-width: 768px){
    .left-val{
        font-size: 15px;
        text-align: center;
    }
    .img-div{
        width:100%;
    }
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    .left-val{
        font-size: 30px;
        text-align: center;
    }
    .img-div{
        width:100%;
    }
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .left-val{
        font-size: 30px;
        text-align: center;
    }
    .img-div{
        width:100%;
    }
  }
  /* 
  Ipad Pro
  */
  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2)
  {
    .left-val{
        font-size: 30px;
        text-align: center;
    }
    .img-div{
        width:100%;
    }
  }