/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: Sansation;
    src: url(assets/font/Sansation-Regular.ttf);
}
body {
    font-family: Sansation !important;
}